body{
    background-color: aliceblue;
    font-family: 'Kanit', sans-serif;
}
.welcome{
    height: 50px;
    width:300px;
    background-color: rgb(133, 239, 202);
    border-radius: 10pc;
    text-align: center;
    
}
.products .box-container{
   display: grid;
   grid-template-columns: auto auto auto auto ;
   gap:5rem;
   justify-content: center;
}

.products .box-container .box{
   text-align: center;
   padding:1rem;
   box-shadow: var(--box-shadow);
   border:var(--green);
   border-radius: .5rem;
   background-color: rgb(175, 252, 177);
}
 
.products .box-container .box img{
   height: 11rem;
   width: 13rem;
}

.products .box-container .box h3{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.products .box-container .box .price{
   font-size: 2rem;
   color:var(--black);
}

.btn{
   display: block;
   width: 100%;
   text-align: center;
   background-color: var(--green);
   color:var(--white);
   font-size: 1.3rem;
   font-weight: bold;
   padding:1.2rem 3rem;
   border-radius: .5rem;
   cursor: pointer;
   margin-top: 1rem;
   border: none;
}
:root{
   --green:hsl(136, 75%, 52%);
   --red:tomato;
   --orange:orange;
   --black:#333;
   --white:#fff;
   --bg-color:#eee;
   --dark-bg:rgba(0,0,0,.7);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border:.1rem solid rgb(83, 79, 79);
}
