.card{
    margin-top: 30px;
    height: 650px;
    width: 500px;
    background-color: rgb(233, 251, 238);
    display: flex;
    justify-content: center;
    margin-left: 500PX;
}
body{
    background-color:hsl(136, 90%, 64%);
     font-family: 'Kanit', sans-serif;
}
#hoho{
    color: rgb(4, 4, 114);
}

h1 {
    margin-top: 30px;
    height: 50PX;
    width: 200px;
    background-color: rgb(24, 235, 119);
}

button {
    background-color: rgb(6, 216, 101);
    border: none;
    height: 55px;
    width: 130px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    
}
button a{
    color: #fbfffe;
    text-decoration: none;
    font-size: larger;
}
button:hover {
    background-color: #058020;
    transition: 0.7s;
    color: rgb(239, 234, 234);
}